sw/scripts/lpddr/synopsys/sim/sw_utilities/cinit/tools/sconfig/input_modules/module_data/CINIT_config_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="category" type="categoryType"/>

  <xs:complexType name="categoryType">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element name="param" minOccurs="0" maxOccurs="unbounded" type="paramType"/>
        <xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="config" maxOccurs="unbounded" type="configType"/>
        <xs:element name="category" maxOccurs="unbounded" type="categoryType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"  use="required"/>
    <xs:attribute name="depends" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="configType">
      <xs:sequence>
        <xs:element name="param" minOccurs="0" maxOccurs="unbounded" type="paramType"/>
        <xs:element name="help" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="option" minOccurs="0" maxOccurs="unbounded" type="optionType"/>
        <xs:element name="default" minOccurs="1" maxOccurs="unbounded" type="defaultType"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="type" type="xs:string" use="required"/>
      <xs:attribute name="var_type" type="xs:string" use="required"/>
      <xs:attribute name="depends" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
      <xs:attribute name="static" type="xs:string"/>
      <xs:attribute name="hidden" type="xs:string"/>
      <xs:attribute name="min" type="xs:string"/>
      <xs:attribute name="max" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="optionType">
      <xs:sequence>
        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="description" type="xs:string"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="depends" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="defaultType">
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="depends" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="paramType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="min" type="xs:string" use="required"/>
    <xs:attribute name="max" type="xs:string" use="required"/>
    <xs:attribute name="step" type="xs:string"/>
  </xs:complexType>
</xs:schema>
